<tei2html.config>
    <text.abbr>A.M.; P.M.; A.D.; B.C.; i.e.; e.g.; E.g.; l.c.</text.abbr>

    <pg.compliant>false</pg.compliant>

    <xref.show>always</xref.show>
    <xref.table>false</xref.table>

    <images.scale>0.5</images.scale>
    <images.maxSize>256</images.maxSize>
    <images.maxWidth>720</images.maxWidth>
    <images.maxHeight>720</images.maxHeight>
</tei2html.config>